body {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.c-item {
  height: 600px;
}
.navbar {
  position: fixed;
  z-index: 1000; /* Ensure navbar is above other elements */
  width: 100%;
}
#demo {
  padding-top: 70px;
}
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  transition: opacity 0.5s ease;
}
#status {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 80px;
  height: 80px;
  border: 5px solid #5cacea;
  border-radius: 50%;
  animation: rotate 2s infinite linear;
}
.rolling-item {
  width: 10px;
  height: 10px;
  background-color: #5cacea;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 35px;
  animation: roll 2s infinite linear;
}
/* DROPDOWN */
.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 8px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #5cacea;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes roll {
  from {
    transform: translateX(-30px) rotate(0deg);
  }
  to {
    transform: translateX(-30px) rotate(360deg);
  }
}
hr {
  cursor: pointer;
}
.c-img {
  height: 100%;
  object-fit: cover;
}

.my-10 {
  margin-top: 13rem;
}
#spin {
  background-color: #5cacea;
  color: white;
  height: 60px;
  width: 60px;
  position: absolute;
  font-size: 30px;
  border-radius: 50%;
  padding-top: 10px;
  left: 170px;
  margin-top: -30px;
}
.g {
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#Data-Room {
  margin-bottom: 200px;
}
#contact {
  width: 100%;
  height: 400px;
  padding-top: 100px;
  color: #fff;
  background-color: rgb(58, 56, 56);
}
.card {
  box-shadow: 1px 1px 5px 5px #ffffff;
}
.yth {
  padding-left: 220px;
}
.yt {
  padding-left: 100px;
}
.yt a {
  text-decoration: none;
  color: gray;
  transition: all 0.3s ease-in-out;
}
.yt a:hover {
  color: #5cacea;
  cursor: pointer;
}
.the {
  padding-top: 30px;
  font-size: 20px;
}
footer {
  height: 70px;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 1200px;
  background-color: black;
}

.text-col {
  color: #5cacea;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}
.custom-card {
  border: none;
}
.ash-bg {
  background-color: #fafafa;
}
.text-justify {
  text-align: justify;
}

/* .footer-section {
    position: relative;
    background-color: black;
    color: white;
    padding: 2rem 0;
  }
  .footer-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('path/to/your/map-image.png') no-repeat center center;
    background-size: cover;
    opacity: 0.3;
  }
  .footer-content {
    position: relative;
    z-index: 1;
  }
  .footer-logo img {
    width: 150px;
    height: auto;
  }
  .footer-logo {
    margin-bottom: 2rem;
  }
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  .footer-links a:hover {
    text-decoration: underline;
  }
  footer.text-muted {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    color: white;
  } */
.footer {
  background: #222222;
  color: white;

  .links {
    ul {
      list-style-type: none;
    }
    li a {
      color: white;
      transition: color 0.2s;
      &:hover {
        text-decoration: none;
        color: #4180cb;
      }
    }
  }
  .about-company {
    i {
      font-size: 25px;
    }
    a {
      color: white;
      transition: color 0.2s;
      &:hover {
        color: #4180cb;
      }
    }
  }
  .location {
    i {
      font-size: 18px;
    }
  }
  .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.copyright {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.text-dec {
  text-decoration: none;
}
.t-all {
  text-align: end;
}
.section-title {
  font-size: 18px;
  color: #999;
  margin-bottom: 70px;
  font-family: "Open Sans", sans-serif, "Font Awesome 5 Free";
}

.text-f {
  font-family: "Open Sans", sans-serif, "Font Awesome 5 Free";
}
.text-t {
  font-family: "Poppins", sans-serif, "Font Awesome 5 Free";
}
.move-up {
  position: relative;
  top: -20px; /* Adjust the value as needed */
}

.move-down {
  position: relative;
  top: 15px; /* Adjust the value as needed */
}

.read-mor {
  position: relative;
  top: 20px;
}
/* 
SERVICES */

.pad1 {
  padding: 130px;
}
section {
  padding: 30px 0;
  min-height: 30vh;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* .bg-white {
  background-color: #ffffff;
} */

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #5cacea;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #5cacea none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: #5cacea none repeat scroll 0 0;
  border-color: #5cacea;
}

.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  border-left: 2px solid #5cacea;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.we-offer-area.text-center .item {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  padding: 40px 40px 40px;
  text-align: justify;
}

.we-offer-area.text-center .item i {
  background: #5cacea none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid #5cacea;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
  border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: #5cacea none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #ffffff;
}

.we-offer-area .item i {
  color: #5cacea;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 10px;
}

.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.we-offer-area .item p {
  margin: 0;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
  background: #5cacea none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
  border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
  background-color: #ffffff !important;
  color: #5cacea !important;
}

.we-offer-area.text-left .item i {
  background: #5cacea none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}

.we-offer-area.text-left .item i::after {
  border: 2px solid #5cacea;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}

.border-line {
  border-color: #5cacea;
}
.m-right {
  margin-left: 380px;
}
@media (min-width: 992px) {
}

@media (max-width: 768px) {
  .m-right {
    margin-left: auto;
    margin-right: auto;
  }

  .t-all {
    text-align: start;
  }
}
@media (max-width: 768px) {
  .footer-section {
    height: auto; /* Reset height for mobile */
    padding-top: 30px; /* Adjust padding for mobile */
    padding-bottom: 30px; /* Adjust padding for mobile */
    min-height: 600px; /* Set a minimum height to ensure consistency */
  }
}
